.zig-logo {
  width: 150px;
}

.nav-item .cyberpunk.blue {
  padding:20px 40px;
  font-size: 1rem;
}

.unstyle{
  border: unset!important;
  border-right: unset!important;
  border-left: unset!important;
  border-bottom: unset!important;
  background-color: unset!important;
  clip-path: unset!important;

  &::before{
    content: unset!important;
  }
  &::after{
    content: unset!important;
  }
}